<h1>This is the meals page!</h1>

<% meals.forEach(function(meal){ %>
    <div>
        <h4>Meal/Snack: <%= meal.name %></h4>
        <img src="<%= meal.image %>">
        <p>Calores: <%= meal.calorie %></p>
    </div>
<% }); %>